{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block head %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<h1>
    {{ user.get_full_name }} (@{{ user.username }})
</h1>

{% with profile=user.profile %}
<div class="profile-page">
    <div class="page-header header-filter"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="containter">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <div class="box-1-1">
                                    <div class="profile-img-container img-raised img-fluid rounded-circle">
                                        <!-- <img src="http://tinygraphs.com/labs/isogrids/hexa/{{user.username}}?theme=seascape&numcolors=4&size=220&fmt=svg"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="name">
                                <h3 class="title">{{ user.get_full_name }} (@{{ user.username }})</h3>
                                {% if profile %}
                                <h6>{{ profile.persona|default:""}}</h6>
                                {% with website=profile.website|default:"" %}
                                    <a href="{{website}}">{{ website }}</a>
                                {% endwith %}
                                {% if profile.linkedin_url %}
                                <a href="{{ profile.linkedin_url }}" clas="btn btn-just-icon btn-link"><i class="fab fa-linkedin-in"></i></a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endwith %}


{% endblock %}
