#main {
  padding-top: 75px;
}

@media (min-width: 992px) {
  #main {
    padding-top: 105px;
  }
}

@font-face {
  font-family: "Hackershack Font";
  src: 
  url("fonts/jaapokkisubtract-regular-webfont.woff") format("woff"),
  url("fonts/jaapokkisubtract-regular-webfont.otf") format("opentype");
}

.navbar-brand {
  font-family: "Hackershack Font";
}

.hs-bg-primary {
  background-color: #f35a5a;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  border: 2px solid transparent;
  transition: border-bottom .2s, color .2s;
}

#mainNav .navbar-nav  li.nav-item  a.nav-link:hover {
  color: #f35a5a;
  background: none;
}

#mainNav .navbar-nav  li.nav-item  a.nav-link.active {
    background-color: #f35a5a;
    color: #fff;
    border-color: #f35a5a;
}

#mainNav .navbar-nav  li.nav-item  a.nav-link.active:hover {
  background: none;
  color: #f35a5a;
}


@media (min-width: 992px) {
  .masthead .masthead-avatar { 
    height: 240px;
    width: auto;
  }
}

.masthead .masthead-avatar { 
  height: 240px;
  width: auto;
}


@media (min-width: 992px) {
  .masthead {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.masthead {
  padding-top: 6rem;
  padding-bottom: 6rem;
}


/*
Prompt style managment
*/

/* Stack columns on smaller screens */
@media (max-width: 768px) {
  .container .Prompt {
    flex-direction: column; 
  }
}

.column {
  flex: 1; 
  padding: 10px;
}

.answer-box {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px; 
  padding: 15px; 
  background-color: #f8f9fa; 
}
