{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

{% url 'public:index' as index_url %}
{% url 'public:about' as about_url %}


<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <!-- <img class="masthead-avatar mb-5" src="{% static 'img/headshot.jpg' %}" alt="" /> -->
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">NameDrop</h1>
        <!-- Masthead Subheading-->
        <!-- <p class="masthead-subheading font-weight-light mb-0">Data holder</p> -->
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <img class="masthead-avatar mb-5" src="{% static 'img/logo.png' %}" alt="" type="image/png" />     
        </div>
    </div>
</header>

<body>
    <div class="container Prompt">
        <div class="row">
            <div class="col-md-6 text-center">
                <h2>User Prompt</h2>
                <input type="text" id="userPrompt" placeholder="Enter your prompt here">
                <button onclick="submitPrompt()">Submit</button>
            </div>
            <div class="col-md-6 text-center"> 
                <h2>Answer</h2>
                <div class="answer-box" id="answerDisplay">Your answer will appear here.</div>
            </div>
        </div>
    </div>
</body>

{% endblock %}


