{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

{% url 'public:index' as index_url %}
{% url 'public:about' as about_url %}


<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <!-- <img class="masthead-avatar mb-5" src="{% static 'img/headshot.jpg' %}" alt="" /> -->
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">NameDrop</h1>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Data holder</p>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <img class="masthead-avatar mb-5" src="{% static 'img/logo.png' %}" alt="" type="image/png" />     
        </div>
    </div>
</header>

<div class="container text-center mt-5">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter your prompt here..." aria-label="User input">
        <button class="btn btn-outline-secondary" type="button">Submit</button>
    </div>
</div>
{% endblock %}


